/* .  {
    height: 20px;
    width: 1px;
    border: 2px solid black;
} */

body{
    width: 90%;
    margin: auto;
    direction: rtl;
}

.container1{
    width: 60%;
    height: 30%;
}

.width70{
    width: 70%;
}
container3{
    text-align: center;
}

.dl{
    width: 90%;
    height:30% ;
    background-color: blue;
    border: 2px solid black;
}


container4{
    margin-top: 40px;
    height: 40vh;
}
.cont1{
    width: 60%;
    margin: 10px 15px;
}
.cont2{
    width: 40%;
    
}
.cont2-img{
    width: 60%;
    margin: auto;
    /* height: 40%; */
}

container5{
    margin-top: 40px;
    height: 40vh;
}

container6{
    margin-top: 40px;
    height: 40vh;
}
a{
    display: block;
}

work-team{
    text-align: center;
    margin-top: 50px;
}
.o-c-o-cont{
    width: 23%;
    /* height: 20vh; */
}

.nem-img-s{
    width: 50px;
}
.h2-text-center{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.o-c-o-cont-smol1{
    border: 2px solid black;
}

.b-b{
    border-top-left-radius: 10px;
    
}
.b-t{
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}
.nem-img-s{
    border-radius: 50%;
}
.t-e{
    margin-bottom: 10px;
    margin-top: 10px;
}